div.logo {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--color-light);
  font-size: var(--font-size-h1);
  line-height: 1;
  height: calc(var(--ball-size) + var(--spacing));
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo-item > div {
  line-height: var(--ball-size);
  height: var(--ball-size);
  width: var(--ball-size);
  border-radius: 50%;
  text-align: center;
}

.logo.home .logo-item {
  margin-left: -10px;
}

.logo.home .logo-item:first-child {
  margin-left: 0;
}

.logo.home .logo-item > div {
  line-height: var(--ball-size-lrg);
  height: var(--ball-size-lrg);
  width: var(--ball-size-lrg);
}

.logo-item-1 > div {
  background-color: var(--bingo-blue);
}

.logo-item-2 > div {
  background-color: var(--bingo-red);
}

.logo-item-3 > div {
  background-color: var(--bingo-grey);
}

.logo-item-4 > div {
  background-color: var(--bingo-green);
}

.logo-item-5 > div {
  background-color: var(--bingo-orange);
}

.logo-item.winner > div {
  background-color: var(--color-success);
  border-color: var(--color-success-dark);
}
