.Host > .main {
  justify-content: flex-start;
}

.Host .app-buttons > button:first-child {
  margin-right: var(--spacing);
}

.app-buttons .toggle-button {
  min-width: var(--spacing-2x * 5);
}

.ball-wrapper {
  display: flex;
  align-items: center;
}
