.Home > * {
  position: relative;
  z-index: 1;
}

.background {
  display: block;
  position: absolute;
  margin-left: -24px;
  margin-right: -24px;
  height: 100%;
  width: 100%;
  background-image: url(../../Assets/background.png);
  background-position: center top;
  background-repeat: repeat;
  animation: slide 50s linear infinite;
  -webkit-animation: slide 50s linear infinite;
  filter: blur(4px);
  -webkit-filter: blur(4px);
  opacity: 0.8;
}

.Home > .main {
  flex: 0 1;
}

@keyframes slide {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 250px -250px;
  }
}
