.Home {
  position: relative;
}

.Home > * {
  position: relative;
  z-index: 1;
}

.Home > .background {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url(../../Assets/background.png);
  background-position: center top;
  background-repeat: repeat;
  background-size: 50%;
  animation: slide 50s linear infinite;
  -webkit-animation: slide 50s linear infinite;
  filter: blur(4px);
  -webkit-filter: blur(4px);
  opacity: 0.8;
}

.Home > .main {
  flex: 0 1;
}

.Home > .main > * {
  margin: var(--spacing);
}

@keyframes slide {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 580px -580px;
  }
}
