:root {
  --color-light: #ffffff;
  --color-light-alt: #eeeeee;
  --color-dark: #242833;
  --color-primary: #1e3954;
  --color-success: #028302;
  --color-success-dark: #005c00;
  --color-alert: #e00101;
  --color-disabled: #cccccc;
  --font-size-small: 70%;
  --bingo-blue: #1b2c98;
  --bingo-red: #fa3934;
  --bingo-grey: #aaaaaa;
  --bingo-green: #1a5e47;
  --bingo-orange: #fd9e28;
  --border-width-extra-light: 0.0625rem; /* ~ 1px */
  --border-width-light: 0.125rem; /* ~ 2px */
  --border-width: 0.1875rem; /* ~ 3px */
  --border-width-bold: 0.3125rem; /* ~ 5px */
  --spacing-half: 0.3125rem; /* ~ 5px */
  --spacing: 0.625rem; /* ~ 10px */
  --spacing-2x: 1.25rem; /* ~ 20px */
  --ball-size-sm: 3.4375rem; /* ~ 55px */
  --ball-size: 3.75rem; /* ~ 60px */
  --ball-size-lrg: 4.6875rem; /* ~ 75px */
  --draws: 25rem; /* ~ 400px */
  --grid: 20rem; /* ~ 320px */
  --grid-item: 3.125rem; /* ~ 50px */
  --crossmark: 4rem; /* ~64px */
  --font-size-h1: 2rem; /* ~ 32px */
  --font-size-h2: 1.5rem; /* ~ 24px */
  --font-size-h3: 1.17rem; /* ~ 18.72px */
  --font-size-h4: 1rem; /* ~ 16px */
  --font-size-h5: 0.83rem; /* ~ 13.28px */
  --font-size-h6: 0.67rem; /* ~ 10.72px */
  --font-size-xs: 0.4375rem; /* ~ 7px */
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.shadow {
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.align-left {
  text-align: left;
}

.App {
  height: 100vh;
  text-align: center;
}

.App > div:first-child {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: var(--color-light);
}

.main {
  width: 88%;
  height: 65vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
