.ball-container-wrapper {
  display: flex;
  align-items: baseline;
}

.ball-container {
  display: inline-block;
}

.ball {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
  border-radius: 50%;
  padding: var(--spacing);
  background-color: var(--color-light);
  color: var(--bingo-blue);
  border: var(--border-width) solid var(--bingo-grey);
  margin: var(--spacing) var(--spacing-2x) 0;
  width: var(--ball-size);
  height: var(--ball-size);
  vertical-align: middle;
  font-weight: bold;
  position: relative;
}

.ball.b {
  border-color: var(--bingo-blue);
}

.ball.i {
  border-color: var(--bingo-red);
}

.ball.n {
  border-color: var(--bingo-grey);
}

.ball.g {
  border-color: var(--bingo-green);
}

.ball.o {
  border-color: var(--bingo-orange);
}

.ball.disabled {
  background-color: var(--color-light-alt);
  color: var(--color-disabled);
  border-color: var(--color-disabled);
}

.number {
  font-size: var(--font-size-h1);
}

.remainder {
  font-size: var(--font-size-h6);
}
