.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 300px;
  border: var(--border-width-bold) solid var(--color-dark);
}

.grid.winner {
  border-color: var(--color-success-dark);
}

/* .grid-header && .grid-item */
.grid > div {
  font-weight: bold;
  line-height: 50px;
  min-height: 50px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}

.grid-header {
  color: var(--color-light);
  font-size: 200%;
  background-color: var(--color-primary);
  border-bottom: var(--border-width-bold) solid var(--color-dark);
}

.grid-header.winner {
  background-color: var(--color-success);
  border-color: var(--color-success-dark);
}

.grid-item.grid-item-5,
.grid-item.grid-item-10,
.grid-item.grid-item-15,
.grid-item.grid-item-20,
.grid-item.grid-item-25 {
  border-right: var(--border-width-light) solid var(--color-dark);
}

.grid-item.grid-item-21,
.grid-item.grid-item-22,
.grid-item.grid-item-23,
.grid-item.grid-item-24,
.grid-item.grid-item-25 {
  border-bottom: var(--border-width-light) solid var(--color-dark);
}

.serial {
  font-size: 6px;
  color: var(--color-light);
  background-color: var(--color-dark);
  height: 10px;
  line-height: 1;
  font-weight: bold;
}
