@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-xxs {
    font-size: 7px;
  }
  .border-br {
    border-width: 0 1px 1px 0;
  }
  @variants dark {
    .ripple-lighter > .ripple,
    .ripple-darker > .ripple {
      background-position: center;
      transition: background 0.5s;
      background-size: 100%;
    }
    .ripple-lighter:active > .ripple,
    .ripple-darker:active > .ripple {
      background-image: radial-gradient(
        circle,
        rgba(255, 255, 255, 0.15) 1%,
        transparent 1.5%
      );
      background-size: 10000%;
    }
  }
  @variants disabled {
    .ripple-none {
      transition: none;
    }
    .ripple-none:active > .ripple {
      background-image: none;
      background-size: initial;
    }
  }
  @variants hover {
    .tooltip:hover > .tooltip-t,
    .tooltip:hover > .tooltip-r,
    .tooltip:hover > .tooltip-d,
    .tooltip:hover > .tooltip-l {
      opacity: 100%;
    }
  }
}
