html {
  height: 100vh;
  width: 56.25vh;
  margin: 0 auto;
  background-color: var(--color-disabled);
}

body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Roboto Mono', source-code-pro, Menlo, Monaco, Consolas,
    'Courier New', monospace;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul > li {
  padding: var(--spacing-half);
}

footer {
  height: calc(var(--font-size-h1) * 3);
}
