.draws {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  border-radius: var(--spacing);
  width: 47%;
  min-height: var(--draws);
}

.draws > ul {
  list-style: none;
  text-transform: uppercase;
  text-align: left;
  font-weight: bold;
  border: var(--border-width-light) solid var(--color-disabled);
  border-right-width: 0;
}

.draws > ul:nth-child(even) {
  background: var(--color-light-alt);
}

.draws > ul:first-child {
  border-top-left-radius: var(--spacing);
  border-bottom-left-radius: var(--spacing);
}

.draws > ul:last-child {
  border-top-right-radius: var(--spacing);
  border-bottom-right-radius: var(--spacing);
  border-right-width: var(--border-width-light);
}

.draws > ul > li {
  height: var(--spacing-2x);
  border-bottom: var(--border-width-light) solid var(--color-disabled);
}

.draws > ul > li:nth-child(15) {
  border-bottom: 0;
}

.draws-column-1 {
  color: var(--bingo-blue);
}

.draws-column-2 {
  color: var(--bingo-red);
}

.draws-column-3 {
  color: var(--bingo-grey);
}

.draws-column-4 {
  color: var(--bingo-green);
}

.draws-column-5 {
  color: var(--bingo-orange);
}

.draws.disabled > ul.draws-column {
  color: var(--color-disabled);
}
