:root {
  --border-width-bold: 5px;
  --border-width-light: 2px;
  --color-light: #ffffff;
  --color-light-alt: #eeeeee;
  --color-dark: #242833;
  --color-primary: #1e3954;
  --color-success: #028302;
  --color-success-dark: #005c00;
  --color-alert: #e00101;
  --color-disabled: #cccccc;
  --font-size-small: 70%;
  --bingo-blue: #1b2c98;
  --bingo-red: #fa3934;
  --bingo-grey: #aaaaaa;
  --bingo-green: #1a5e47;
  --bingo-orange: #fd9e28;
}

h2 {
  height: 30px;
}

button {
  margin: 7px;
  padding: 7px;
  /* background-color: var(--color-primary);
  color: var(--color-light); */
  font-weight: bold;
  text-transform: uppercase;
}

button.disabled {
  background-color: var(--color-light-alt) !important;
  color: var(--color-disabled) !important;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.App {
  height: 100vh;
}

.App > div:first-child {
  display: flex;
  justify-content: center;
}

.Debug.disabled {
  display: none;
}
